:root {
  --text-size: clamp(1rem,  -0.8750rem + 8.3333vw, 2rem);
  --text-color :#383533;  
}
  
  body {
      background: #DDCDBE;
      margin: 0%;
  }
  
a {
  font-family: 'Nova Mono', monospace;
  text-decoration: none;
  color:  var(--text-color);
  font-size: var(--text-size);
}

form {
  display: flex;
}

fieldset {
  margin-top: 30px;
  color: var(--text-color);
}

legend {
  font-size:  var(--text-size);
}
#add-form input[type="text"], #add-form input[type="url"]{
  display: inline-block;
  width: 100%;
  align-items: baseline;
  justify-content: baseline;
}

a:hover {
  background-color: rgba(147, 162, 175, 0.5);
}

#add-form .item1 {flex: 2;}
#add-form .item2 {flex: 2;}
#add-form .item3 {flex: 1;}

#del-form { 
  flex-direction: column;

}

#del-form .item1 {
  align-self: stretch;
}


#del-form input[type="submit"] {align-self: center;}

