
:root {
--text-size: clamp(1rem,  -0.8750rem + 8.3333vw, 2rem);
--text-color :#383533; 
}

body {
    background: rgb(221, 205, 190);
    margin: 0%;
}

button {
  font-size: var(--text-size);
  margin-right: 12px;
}

a {
  font-family: 'Nova Mono', monospace;
  text-decoration: none;
  color: var(--text-color) ;
  font-size: var(--text-size);
}

a:hover
{
  background-color: rgba(147, 162, 175, 0.5);
}

footer {
  display: flex;
  border-bottom: 1px solid #000;;
  
}


table {
  margin: 0%;
  margin-top: 1em;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(31, 29, 31);
  font: optional;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 40%;
}

th, td {
  padding: 10px;
  border: 1px solid rgb(31, 29, 31);
}

td {
  text-align: center;
}