<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrapper</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href='static/index.css' />

</head>
<body>
    
    <footer>
        <div class="item"><button type="button" class="scan-button" data-target="results">scan</button></div>
        <div class="item"><a href="/administration">Gérer le suivit des séries</a></div>  
    </footer>

    <table >
        <thead>
            <th>Nom de la serie</th>
            <th>Episode actuel</th>
            <th>Episode avant scan</th>
            <th>Lien vers la série</th>
        </thead>
        <tbody id="results">
            
        </tbody>
    </table>

    <script type="text/javascript" src="static/getScanResult.js"></script>    
</body>
</html>
