<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='static/index.css' />
    <title>Scrapper</title>
</head>
<body>
    
    <input type="button" value="scan" onclick="getScanResult('results')">
    <a href="/administration">Gérer le suivit des séries</a>
    
    <table >
        <thead>
            <th>Nom de la serie</th>
            <th>Episode actuel</th>
            <th>Episode avant scan</th>
            <th>Lien vers la série</th>
        </thead>
        <tbody id="results">
            
        </tbody>
    </table>

    <script type="text/javascript" src="static/getScanResult.js"></script>    
</body>
</html>